.home-page {
  width: 100%;
  min-height: 100vh;
}

.home-page .main {
  min-height: 100vh;
  padding-top: 80px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  gap: 32px;
}

.home-page .main .search {
  width: 50%;
  min-width: 300px;
}

.home-page .main .search img {
  max-width: 900px;
  width: 100%;
  min-width: 200px;
  height: auto;
}

.home-page .main .content {
  display: flex;
  width: 50%;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}

.home-page .main .content .content-title {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16pt;
  font-weight: bold;
}

.home-page .main .content .books {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
}

.home-page .main .content .books .book {
  width: 155px;
  height: 200px;
  border: 1px solid #b1b1b1;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px;

  cursor: pointer;
  gap: 4px;
}

.home-page.light .main .content .books .book {
  background-color: white;
}

.home-page.dark .main .content .books .book {
  border: 1px solid #888888;
  background-color: black;
}

.home-page .main .content .books .book:hover {
  transform: scale(1.2);
  border-width: 2px;
}

.home-page.dark .main .content .books .book .more {
  color: white;
}

.home-page .main .content .books .book .book-name {
  font-weight: bolder;
}

.home-page .main .content .books .book.s .book-name {
  font-size: 10pt;
}

.home-page .main .content .books .book .book-author {
  margin-top: auto;
  font-weight: normal;
  text-align: center;
  font-size: 12pt;
}

.home-page > .rating {
  position: fixed;
  bottom: 0;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 4px;
  width: 50%;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  animation: in ease-out 0.5s backwards;
}

.home-page > .rating .close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 0;
  align-self: flex-end;
}

.home-page > .rating .close svg {
  width: 100%;
  height: 100%;
}

.home-page > .rating .title {
  font-size: 16pt;
  padding: 0px 16px;
}

.home-page > .rating .rating {
  width: 100%;
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
}

.home-page > .rating .rating button {
  height: 100%;
  background: transparent;
  border: 0;
}

.home-page > .rating .rating svg {
  height: 100%;
  width: auto;
  cursor: pointer;
}

@keyframes in {
  from {
    transform: translate(-50%, 100%);
  }
  to {
    transform: translate(-50%, 0);
  }
}
