.header-component {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 8px;
  display: flex;
  gap: 8px;
}

.header-component img {
  width: auto;
  height: 100%;
  cursor: pointer;
}

.header-component .toggle,
.header-component .logout {
  width: 100px;
  height: 100%;
}

.header-component .toggle {
  margin-left: auto;
}
